<% if @discussion.posts.any? %>
  <% @discussion.posts.each do |post| %>
    <div class="panel post-panel radius">
      <span><%= post.name %> - <%= format_time(post.created_at) %></span>
      <span class="right">
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_post_path(post), class: "tiny button radius" %>
          <%= link_to 'Destroy', post, method: :delete,
           data: { confirm: 'Are you sure?' }, class: "tiny button radius" %>
        <% end %>
      </span>
      <hr>
      <div class="comment">
        <%= show(post.comment) %>
      </div>
      <%= image_tag(post.image_url(:thumb)) if post.image? %>

    </div>
  <% end %>
<% end %>