<p id="notice"><%= notice %></p>
<h3>Create new post:</h3>
<%= render 'posts/form' %>
<p>
  <strong>Name:</strong>
  <%= @discussion.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @discussion.subject %>
</p>

<p>
  <strong>Created at:</strong>
  <%= format_time(@discussion.created_at) %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @discussion.comment %>
</p>
<p>
  <% if @discussion.posts.any? %>
    <h2>Posts:</h2>
    <% @discussion.posts.each do |post| %>
      <strong>Name:</strong>
      <%= post.name %> <br/>
      <strong>Created at:</strong>
      <%= format_time(post.created_at)%> <br/>
      <strong>Comment:</strong>
      <%= post.comment %> <br/>
    <% end %>
  <% end %>
</p>


<%= link_to 'Back', board_path(@board) %>
