<% provide(:title, "#{@discussion.subject} - #{@board.name}" ) %>

<%= render 'shared/board_title' %>

<div class="large-6 large-centered columns">
  <% unless @discussion.closed %>
    <%= render 'posts/form' %>
  <% end %>
</div>


<div class="panel discussion-panel radius">
  <span><%= @discussion.subject%> by <%= @discussion.name %> -
    <%= format_time(@discussion.created_at) %>
  <span class="right">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_board_discussion_path(@board, @discussion),  class: "tiny button radius" %>
      <%= link_to 'Destroy', [@board, @discussion], method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button radius" %>
    <% end %>
  </span>
  <hr>
  <div class="comment">
    <%= show(@discussion.comment) %>
  </div>
  <%= image_tag(@discussion.image_url(:thumb)) if @discussion.image? %>

  <% if @discussion.posts.any? %>
    <%= render 'posts' %>
  <% end %>
</div>

<%= link_to 'Back to Board', @board %>
