<% provide(:title, "#{@discussion.subject} - #{@board.name}" ) %>
<p id="notice"><%= notice %></p>

<%= render 'shared/board_title' %>

<div class="large-6 large-centered columns">
  <%= render 'posts/form' %>
</div>

<div class="panel discussion-panel radius">
  <span><%= @discussion.subject%> by <%= @discussion.name %> -
    <%= format_time(@discussion.created_at) %>
  <span class="right">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_board_discussion_path(@board, @discussion) %>
      <%= link_to 'Destroy', [@board, @discussion], method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </span>
  <div class="comment">
    <%= @discussion.comment %>
  </div>

  <% if @discussion.posts.any? %>
    <% @discussion.posts.each do |post| %>
      <div class="panel post-panel radius">
        <span><%= post.name %> - <%= format_time(post.created_at) %></span>
        <span class="right">
          <% if user_signed_in? %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete,
             data: { confirm: 'Are you sure?' } %>
          <% end %>
        </span>
        <div class="comment">
          <%= post.comment %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back to Board', @board %>
