<div class="pagination-centered">
  <%= foundation_paginate @discussions %>
</div>
<% @discussions.each do |discussion| %>
  <div class="panel discussion-panel radius">
    <span><%= discussion.subject%> by <%= discussion.name %> -
      <%= format_time(discussion.created_at) %>
      <%= link_to 'Show', board_discussion_path(@board, discussion), class: "tiny button radius show" %></span>
    <span class="right">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_board_discussion_path(@board, discussion), class: "tiny button radius" %>
        <%= link_to 'Destroy', [@board, discussion], method: :delete, data: { confirm: 'Are you sure?' }, class: "tiny button radius" %>
      <% end %>
    </span>
    <hr>
    <div class="op">
      <% if discussion.image.present? %>
        <span class="image-info">
          <%= link_to discussion.image.filename, discussion.image.url %> -
          <%= "(#{discussion.image.size} B,
           #{discussion.image.width}x#{discussion.image.height})
            Thumbnail displayed, click image for full size." %>
        </span>
        <span class="image"><%= thumb_with_link(discussion) %></span>
      <% end %>
      <div class="comment"><%= show(discussion.comment) %></div>
      <% if discussion.posts.count > 3 %>
        <span class="omitted-posts">
          <%= pluralize(discussion.posts.count - 3, "post") %>
          omitted. Click Show to view the discussion.
        </span>
      <% end %>
    </div>
    <% if discussion.posts.any? %>
      <% discussion.posts.last(3).each do |post| %>
        <div class="panel post-panel radius">
          <span><%= post.name %> - <%= format_time(post.created_at) %></span>
          <span class="right">
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_post_path(post), class: "tiny button radius" %>
              <%= link_to 'Destroy', post, method: :delete,
                data: { confirm: 'Are you sure?' }, class: "tiny button radius" %>
            <% end %>
          </span>
          <hr>
        <div class="op">
          <span class="image"><%= thumb_with_link(post) %></span>
          <div class="comment"><%= show(post.comment) %></div>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="pagination-centered">
  <%= foundation_paginate @discussions %>
</div>