<% provide(:title, "/#{@board.short_name}/ - #{@board.name}" ) %>

<%= render 'shared/board_title' %>

<div class="large-6 large-centered columns">
  <%= render 'discussions/form' %>
</div>

<%= render 'discussions' %>


<% if user_signed_in? %>
  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>
<% end %>
